*/images/*.*
*/node_modules/*.*
*/*/images/*.*
*/*/node_modules/*.*
*/*/*/images/*.*
*/*/*/node_modules/*.*
*/images/*
*/node_modules/*
*/*/images/*
*/*/node_modules/*
*/*/*/images/*
*/*/*/node_modules/*
*/sounds/*.*
*/*/sounds/*.*
*/*/*/sounds/*.*
*/sounds/*
*/*/sounds/*
*/*/*/sounds/*